<!doctype html>
<title>Studio Kiosk</title>

<!-- DAVID TWITTER -->
<a class="twitter-timeline"  href="https://twitter.com/oddshocks"  data-widget-id="271331917494894592">Tweets by David</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</script>

<!-- HAYLEY TWITTER -->
<a class="twitter-timeline"  href="https://twitter.com/iamHAYYLOVE"  data-widget-id="271331917494894592">Tweets by Hayley</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</script>

<!-- ASHLEY TWITTER -->
<a class="twitter-timeline"  href="https://twitter.com/ashweedubz"  data-widget-id="271331917494894592">Tweets by Ashley</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</script>

<!-- MATT TWITTER -->
<a class="twitter-timeline"  href="https://twitter.com/mttalxndrgrrtt"  data-widget-id="271331917494894592">Tweets by Matt</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</script>
